/*
  Global CSS file
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
}

::-webkit-input-placeholder {
  color:#aaa;
  font-weight: 300;
}
::-moz-placeholder {
  color:#aaa;
  font-weight: 300;
}
:-ms-input-placeholder {
  color:#aaa;
  font-weight: 300;
}
input:-moz-placeholder {
  color:#aaa;
  font-weight: 300;
}

body {
  background: #FFF;
  font: normal normal normal 14px/1.6em Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.wrapper {
  max-width: 1080px;
  width: 80%;
  margin: auto;
}

.main {
  height: 1280px;
}

.sidebar {
  width: 24%;
  padding: 20px 20px 20px 0;
  float: left;
  font-size: 14px;
}

@media only screen and (min-width: 1280px) {
  .adb-layout-default {
    width: 1128px;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .adb-layout-default {
    width: 1080px;
    margin: auto;
  }
}

@media only screen and (max-width: 780px) {
  .sidebar {
    display: none;
  }
}

.content {
  width: 76%;
  padding: 20px 0 20px 20px;
  float: left;
  height: 100%;
  table {
    font: 'Lato', sans-serif;
    font-size: 14px;
  }
  .table_cell {
    text-decoration: none;
    cursor: pointer;
  }
}



.footer {

}

